<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
<div class="panel panel-default">  
    <div class="panel-heading">  
        <h1 style="text-align: center">Flights</h1><br>  
        <div class="row" [hidden]="!deleteMessage">  
               
            <div class="col-sm-4"></div>  
            <div class="col-sm-4">  
                    <div class="alert alert-info alert-dismissible">  
                            <button type="button" class="close" data-dismiss="alert">×</button>  
                            <strong>Flight Data Deleted</strong>  
                    </div>  
            </div>  
            <div class="col-sm-4"></div>  
    </div>             
</div>  
      <div class="panel-body">  
        <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"  
        [dtTrigger]="dtTrigger"  >  
            <thead class="thead-light">  
                <tr>  
                    <th>Flight Number</th>  
                    <th>Flight Model</th>  
                    <th>Carrier Name</th>
                    <th>Seat Capacity</th>  
                    <th>Action</th>
                </tr>
            </thead>  
            <tbody>  
                 <tr *ngFor="let flight of flights ">  
                    <td>{{flight.flightNumber}}</td>  
                    <td>{{flight.flightModel}}</td>  
                    <td>{{flight.carrierName}}</td>
                    <td>{{flight.seatCapacity}}</td>  
                    <td><button (click)="deleteFlight(flight.flightNumber)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>
                        <button (click)="updateFlight(flight.flightNumber)" class='btn btn-info'  
                        data-toggle="modal" data-target="#myModal">Update</button>  </td>
                  </tr>   
            </tbody><br>  
        </table>  
    </div>
</div>   
  <div class="modal" id="myModal">  
        <div class="modal-dialog">  
          <div class="modal-content">  
                <form [formGroup]="flightupdateform" #updflight (ngSubmit)="updateFlights(updflight)">  
            <!-- Modal Header -->  
           <div class="modal-header">  
              <h4 class="modal-title" style="text-align: center">Update Flight</h4>  
                
            </div> 
              
            <!-- Modal body -->  
           <div class="modal-body" *ngFor="let flight of flightlist " >  
                <div [hidden]="isupdated">  
  
                    <input type="hidden" class="form-control"  formControlName="flightNumber" [(ngModel)]="flight.flightNumber">  
                            <div class="form-group">  
                                <label for="flightNumber">Flight Number</label>  
                                <input type="number" class="form-control"readonly=true formControlName="flightNumber" [(ngModel)]="flight.flightNumber"  > 
                            </div>  
                      
                            <div class="form-group">  
                                <label for="flightModel">Flight Model</label>  
                                <input type="text" class="form-control" formControlName="flightModel" [(ngModel)]="flight.flightModel">  
                             <div class="alert alert-danger" *ngIf = "(FlightModel.touched) && (FlightModel.invalid)"   
                               style="margin-top: 5px;">  
                               <span *ngIf="FlightModel.errors.required">Flight Model is required</span>  
                               <span *ngIf = "FlightModel.errors.minlength">MinLength 4 characters</span>
                               <span *ngIf="FlightModel.errors.maxlength">Max length 10 characters</span>
                               <span *ngIf="FlightModel.errors.pattern">No special characters allowed</span>
                              </div>  
                            </div>  
                      
                            <div class="form-group">  
                                <label for="carrierName">Carrier Name</label>  
                                <input type="text" class="form-control" formControlName="carrierName" [(ngModel)]="flight.carrierName">  
                                <div class="alert alert-danger" *ngIf = "(CarrierName.touched) && (CarrierName.invalid)"   
                                  style="margin-top: 5px;">  
                                  <span *ngIf="CarrierName.errors.required">CarrierName  is required</span>
                                  <span *ngIf = "CarrierName.errors.minlength"> MinLength Error </span>    
                                  <span *ngIf = "CarrierName.errors.maxlength">MaxLength Error</span>                     
                                  <span *ngIf="CarrierName.errors.pattern">No special character and number is allowed</span>
                                </div>   
                            </div> 
                            <div class="form-group">  
                                <label for="seatCapacity">seatCapacity</label>  
                                <input type="number" class="form-control"  formControlName="seatCapacity" [(ngModel)]="flight.seatCapacity"  >  
                                <div class="alert alert-danger" *ngIf = "(SeatCapacity.touched) && (SeatCapacity.invalid)"   
                                  style="margin-top: 5px;">  
                                  <span *ngIf="SeatCapacity.errors.required">Seat Capacity must not be null</span>
                                  <span *ngIf = "SeatCapacity.errors.min">seat capacity must be between 2-1000</span>
                                  <span *ngIf = "SeatCapacity.errors.max">Max Error:Seat capacity must be between 2-1000</span>                         
                                 <span *ngIf="SeatCapacity.errors.pattern">Only number is allowed</span>
                                </div> 
                            </div>               
                  </div>    
                 <div [hidden]="!isupdated">  
                      <h4>Flight Detail Updated!</h4>  
                  </div>      
                      
            </div>  
              
            <!-- Modal footer -->  
          <div class="modal-footer" >  
              <button [disabled]="!flightupdateform.valid" type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>  
              <button  type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>  
            </div>  
        
        </form>  
          </div>  
        </div>  
      </div>  