<div class="panel panel-default">  
    <div class="panel-heading">  
        <h1 style="text-align: center">Flights</h1><br>  
        <div class="row" [hidden]="!deleteMessage">  
               
            <div class="col-sm-4"></div>  
            <div class="col-sm-4">  
                    <div class="alert alert-info alert-dismissible">  
                            <button type="button" class="close" data-dismiss="alert">×</button>  
                            <strong>Flight Data Deleted</strong>  
                    </div>  
            </div>  
            <div class="col-sm-4"></div>  
    </div>             
</div>  
      <div class="panel-body">  
        <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"  
        [dtTrigger]="dtTrigger"  >  
            <thead class="thead-light">  
                <tr>  
                    <th>Flight Number</th>  
                    <th>Flight Model</th>  
                    <th>Carrier Name</th>
                    <th>Seat Capacity</th>  
                    <th>Action</th>
                </tr>
            </thead>  
            <tbody>  
                 <tr *ngFor="let flight of flights ">  
                    <td>{{flight.flight_number}}</td>  
                    <td>{{flight.flight_model}}</td>  
                    <td>{{flight.carrier_name}}</td>
                    <td>{{flight.seat_capacity}}</td>  
                    <td><button (click)="deleteFlight(flight.flight_number)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>   
                      <button (click)="updateFlight(flight.flight_number)" class='btn btn-info'  
                      data-toggle="modal" data-target="#myModal">Update</button>  
                    </td>  
                  </tr>   
            </tbody><br>  
        </table>  
    </div>  
  </div>
  <div class="modal" id="myModal">  
    <div class="modal-dialog">  
      <div class="modal-content">  
            <form [formGroup]="flightupdateform" #updflights (ngSubmit)="updateFlight(updflights)">  
        <!-- Modal Header -->  
        <div class="modal-header">  
          <h4 class="modal-title" style="text-align: center">Update Flight</h4>  
            
        </div>  
          
        <!-- Modal body -->  
        <div class="modal-body" *ngFor="let flight of flightlist " >  
            <div [hidden]="isupdated">  

                <input type="hidden" class="form-control"  formControlName="flight_number" [(ngModel)]="flight.flight_number">  
                        <div class="form-group">  
                            <label for="name">Flight Number</label>  
                            <input type="number" class="form-control"  formControlName="flight_number" [(ngModel)]="flight.flight_number"  >  
                        </div>  
                  
                        <div class="form-group">  
                            <label for="name">Flight Model</label>  
                            <input type="text" class="form-control" formControlName="flight_model" [(ngModel)]="flight.flight_model">  
                        </div>  
                  
                        <div class="form-group">  
                            <label for="name">Carrier Name</label>  
                            <input type="text" class="form-control" formControlName="carrier_name" [(ngModel)]="flight.carrier_name">                              
                        </div>
                        <div class="form-group">  
                            <label for="name">Seat Capacity</label>  
                            <input type="text" class="form-control" formControlName="seat-capacity" [(ngModel)]="flight.seat_capacity">                              
                        </div>                           
              </div>    
              <div [hidden]="!isupdated">  
                  <h4>flight Details Updated!</h4>  
              </div>          
                  
        </div>  
          
        <!-- Modal footer -->  
        <div class="modal-footer" >  
          <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>  
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>  
        </div>  
          
    </form>  
      </div>  
    </div>  
  </div>  