<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
<div align="center">
  <div class="div1" align="center">
   <br><br>
   <h2 align="center">Welcome Admin</h2>
   <br><br>
       <div align="center">
          <a routerLink=flight-home class="nav-link" class="btn btn-primary active" role="button" >ADD/VIEW FLIGHTS</a>
       </div><br><br>
       <div align="center">
          <a routerLink=airport-home class="nav-link" class="btn btn-primary active" role="button" >ADD/VIEW AIRPORTS</a>
        </div><br><br>
        <div align="center">
          <a routerLink=users-home class="nav-link" class="btn btn-primary active" role="button" >VIEW/DELETE USERS</a>
        </div><br><br>
     
    <router-outlet></router-outlet>
</div>

</div>