<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<h3>Add Flight</h3>  
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4" >  
    <div [hidden]="submitted" style="width: 400px;">  
      <form [formGroup]="flightSaveForm" #saveflight (ngSubmit)="saveFlight(saveFlight)">  

        
        <div class="form-group">  
            <label for="flightNumber">Flight Number</label>  
            <input type="number" class="form-control"  formControlName="flightNumber" data-toggle="tooltip"   
               data-placement="right" title="Enter Flight Number" >  
            <div class="alert alert-danger" *ngIf = "(FlightNumber.touched) && (FlightNumber.invalid)"   
              style="margin-top: 5px;">  
                <span *ngIf="FlightNumber.errors.required">Flight Number is required</span>  
                  <span *ngIf = "FlightNumber.errors.min">flight number should be more than 40000</span>
              </div>  
        </div>  


          <div class="form-group">  
              <label for="flightModel">Flight Model</label>  
              <input type="text" class="form-control"formControlName="flightModel" data-toggle="tooltip"   
                 data-placement="right" title="Enter Flight Model" >  
              <div class="alert alert-danger" *ngIf = "(FlightModel.touched) && (FlightModel.invalid)"   
                style="margin-top: 5px;">  
                  <span *ngIf="FlightModel.errors.required">Flight Model is required</span>  
                  <span *ngIf = "FlightModel.errors.minlength">MinLength 4 characters</span>
                  <span *ngIf="FlightModel.errors.maxlength">Max length 10 characters</span>
                  <span *ngIf="FlightModel.errors.pattern">No special characters allowed</span>
                </div>  
          </div>  
    
          <div class="form-group">  
              <label for="carrierName">Carrier Name</label>  
              <input type="text" class="form-control" formControlName="carrierName"   
                data-toggle="tooltip" data-placement="right" title="Enter carrier name">  
                <div class="alert alert-danger" *ngIf = "(CarrierName.touched) && (CarrierName.invalid)"   
                style="margin-top: 5px;">  
                  <span *ngIf="CarrierName.errors.required">CarrierName  is required</span>
                    <span *ngIf = "CarrierName.errors.minlength"> MinLength Error </span>    
                    <span *ngIf = "CarrierName.errors.maxlength">MaxLength Error</span>                     
                    <span *ngIf="CarrierName.errors.pattern">No special character and number is allowed</span>
                  </div>  
          </div>  
    
          <div class="form-group">  
            <label for="seatCapacity">Seat Capacity</label>  
            <input type="number" class="form-control" formControlName="seatCapacity"   
              data-toggle="tooltip" data-placement="right" title="Enter flight seat capacity">  
              <div class="alert alert-danger" *ngIf = "(SeatCapacity.touched) && (SeatCapacity.invalid)"   
              style="margin-top: 5px;">  
                <span *ngIf="SeatCapacity.errors.required">Seat Capacity must not be null</span>
                <span *ngIf = "SeatCapacity.errors.min">seat capacity must be between 2-1000</span>
                <span *ngIf = "SeatCapacity.errors.max">Max Error:Seat capacity must be between 2-1000</span>                         
                <span *ngIf="SeatCapacity.errors.pattern">Only number is allowed</span>
              </div>  
        </div>  
          <button [disabled]="!flightSaveForm.valid" type="submit" class="btn btn-success" >Submit</button>  
      </form>  
  </div>  
  </div>  
  <div class="col-sm-4"></div>  
</div>  
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4">  
      <div [hidden]="!submitted">  
         <h4>Flight Added SuccessFully!</h4>  
         <button routerLink="/view-flight"  class='btn btn-primary'>Add More Flights</button>
      </div>        
  </div>  
  <div class="col-sm-4"></div>  
</div>  

