<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <div class="container-fluid">
    <h1 align="center">Flight Management System</h1>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav ">
      <li class="nav-item ">
        <a routerLink="add-flight" class="nav-link" class="btn btn-primary active" role="button" >ADD FLIGHT</a>
      </li>
      <li class="nav-item">
        <a routerLink="view-flight" class="nav-link" class="btn btn-primary active" role="button">VIEW FLIGHTS</a>
      </li>
      <li class="nav-item">
        <a routerLink="search-flight" class="nav-link" class="btn btn-primary active" role="button">SEARCH FLIGHT</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-airport" class="nav-link" class="btn btn-primary active" role="button">ADD AIRPORT</a>
      </li>
      <li class="nav-item">
        <a routerLink="view-airport" class="nav-link" class="btn btn-primary active" role="button">VIEW AIRPORTS</a>
      </li>
    </ul>
    </nav>
    <router-outlet></router-outlet>
</div>